
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498552638103'); /* IE9*/
  src: url('iconfont.eot?t=1498552638103#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498552638103') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498552638103') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498552638103#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongxunlu1:before { content: "\e612"; }

.icon-jiahao:before { content: "\e68c"; }

.icon-tongxunlu:before { content: "\e69c"; }

.icon-faxian:before { content: "\e632"; }

.icon-liaotianqipao:before { content: "\e609"; }

.icon-weixinduan-sousuo:before { content: "\e69e"; }

