
.app-message .mui-content {
    height: 100%;
    padding: 44px 0 50px 0;
    overflow: auto;
    background-color: #eaeaea
}

.app-message #msg-list {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.app-message .msg-item {
    padding: 8px;
    clear: both
}

.app-message .msg-item .mui-item-clear {
    clear: both
}

.app-message .msg-item .msg-user {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
    vertical-align: top;
    text-align: center;
    float: left;
    color: #ddd
}

.app-message .msg-item .msg-user-img {
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 3px;
    vertical-align: top;
    text-align: center;
    float: left;
    color: #ddd
}

.app-message .msg-item .msg-content {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
    background-color: #FFF;
    color: #333;
    padding: 8px;
    vertical-align: top;
    font-size: 15px;
    position: relative;
    max-width: 100%;
    float: left
}

.app-message .msg-item .msg-content .msg-content-inner {
    overflow-x: hidden
}

.app-message .msg-item .msg-content .msg-content-inner img {
    margin-right: 5px
}

.app-message .msg-item .msg-content .msg-content-arrow {
    position: absolute;
    border: solid 1px #d3d3d3;
    border-right: 0;
    border-top: 0;
    background-color: #FFF;
    width: 10px;
    height: 10px;
    left: -5px;
    top: 12px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.app-message .msg-item-self .msg-user,.msg-item-self .msg-content {
    float: right
}

.app-message .msg-item-self .msg-content .msg-content-arrow {
    left: auto;
    right: -5px;
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
    background: #4cd964;
    border: 1px solid #4CD964;
}

.app-message .msg-item-self .msg-content,.msg-item-self .msg-content .msg-content-arrow {
    background-color: #4CD964;
    color: #fff;
    border-color: #2AC845
}



.app-message #msg-sound {
    -webkit-user-select: none!important;
    user-select: none!important
}

.app-message .rprogress {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    display: none;
    -webkit-transition: .15s
}

.app-message .rschedule {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    margin-top: -23px;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

.app-message .r-sigh {
    display: none;
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    margin-top: -23px;
    text-align: center;
    line-height: 46px;
    font-size: 40px;
    font-weight: bold;
    color: #2187e7
}

.app-message .rprogress-sigh {
    background-image: none!important
}

.app-message .rprogress-sigh .rschedule {
    display: none!important
}

.app-message .rprogress-sigh .r-sigh {
    display: block!important
}

.app-message .rsalert {
    font-size: 12px;
    color: #bbb;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    width: 130px;
    margin: 5px 5px;
    padding: 5px;
    left: 0;
    bottom: 0
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.app-message #h {
    background: #fff;
    border: solid 1px #ddd;
    padding: 10px!important;
    font-size: 16px!important;
    font-family: verdana!important;
    line-height: 18px!important;
    overflow: visible;
    position: absolute;
    left: -1000px;
    right: 0;
    word-break: break-all;
    word-wrap: break-word
}

.app-message .cancel {
    background-color: darkred
}


.app-message .addnewform-img {
    background: white;
    overflow: hidden
}

.app-message .addnewform-img li {
    position: relative;
    float: left;
    width: 48%;
    border: 1px solid grey;
    margin-bottom: 10px
}

.app-message .addnewform-img li:nth-child(2n) {
    margin-left: 2%
}

.app-message .addnewform-img li img {
    display: block;
    width: 50px;
    height: 50px;
    float: left
}

.app-message .addnewform-img .mui-icon-closeempty {
    height: 50px;
    float: right;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-left: 1px solid grey
}

.app-message .mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 999;
    background-color: #000
}

.app-message .mui-preview-header,.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10
}

.app-message .mui-preview-header {
    height: 44px;
    top: 0
}

.app-message .mui-preview-footer {
    height: 50px;
    bottom: 0
}

.app-message .mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4;
    width: 70px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 12px;
    font-size: 16px
}

.app-message .mui-preview-image {
    display: none;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.app-message .mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.app-message .mui-preview-image.mui-preview-out {
    background: 0;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

.app-message .mui-preview-image.mui-preview-out .mui-preview-header,.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none
}

.app-message .mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden
}

.app-message .mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.app-message .mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%
}

.app-message .mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%
}

.app-message .mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table
}

.app-message .mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle
}

.app-message .mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none
}

.app-message .mui-preview-loading.mui-active {
    display: block
}

.app-message .mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px
}

.app-message .mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform .5s ease,opacity .5s ease;
    transition: transform .5s ease,opacity .5s ease
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.app-message p img {
    max-width: 100%;
    height: auto
}

.app-message #msg-content {
    height: 100%
}

.app-message .msg-content-time {
    clear: both;
    color: #6f6f6f
}

.app-message .msg-item .msg-content-time {
    text-align: left;
     font-size: 12px;
}

.app-message .msg-item-self .msg-content-time {
    text-align: right;
   
}

.app-message .msg-item .nameandimg,.msg-item .ms-content-warp {
    float: left
}

.app-message .msg-item-self .nameandimg,.msg-item-self .ms-content-warp {
    float: right
}

.app-message .msg-item .nameandimg img {
    float: none;
    display: block
}

.app-message .msg-item .nameandimg .msg-name {
    width: 38px;
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap
}

.app-message .msg-item .ms-content-warp {
    max-width: 75%;
    min-width: 35px;
    margin: 0 8px
}
