   .fade-enter-active, .fade-leave-active {
      transition: opacity .2s
    }
    .fade-enter, .fade-leave-to   {
      opacity: 0
    }
    .messagtc {
        position: fixed;
        width: 100%;
        border-top: solid 1px #bbb;
        left: 0;
        bottom: 0;
        padding: 0;
        background: #F4F4F4;
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select:none;
        -webkit-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
    .messagtc .ms-send{
        color: white;
        background: #1AAD19;
        border:1px solid #179E16;
        border-radius: 5px;
        width: 100%;
        line-height: 26px;
        outline: none;
        position: absolute;
        top:0px;
        left: 0px;
    }
    .messagtc .iconfont{
        color: #6F7378;
        font-size: 26px!important;
    }
    .messagtc .footer-jia{
        position: relative;
    }
    .messagtc .footer-jia .f-jia-warp{
        width: 50px;
        text-align: center;
        height: 28px;
    }
    .messagtc .footer-jia .icon-jiahao{

    }
    .messagtc textarea{
        overflow:hidden
    }
    .messagtc .footer-left {

        text-align: center;
        vertical-align: middle;
    }

    .messagtc .footer-right {
        width: 72px;
        height: 50px;

        text-align: center;
        vertical-align: middle;
        line-height: 100%;
        padding: 10px 5px;
        display: inline-block
    }

    .messagtc .footer-center {
        min-height: 50px;
        width:100%;
        position: relative;
    }
     .messagtc .footer-center > .taptalk{
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        padding: 8px 0;
        height: 100%;
     }
    .messagtc .footer-center [class*=input] {
        width: 100%;
            outline: none;
    }

    .messagtc .footer-center .input-text {
        border:none;
        border-bottom: 1px solid #D8D8D8;
        height: 25px;
        margin-top: 11px;
    }

    .messagtc .footer-center .input-sound {
        background-color: #eee
    }
    .messagtc .footer-left .mifileinput {
        position: relative
    }

    .messagtc .footer-left .mifileinput input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0
    }

    .messagtc .footer-left .mifileinput-z {
        display: block;
        text-align: center;
        width: 100%
    }   

    .messagtc .footer-left .mifileinput .icon-tupian {
        font-size: 28px;
        display: block;
        width: 28px;
        line-height: 28px;
        margin: 0 auto
    }

    .messagtc  .usergoban {
        position: relative;
        width: 100%;
        overflow: hidden;
        background-color: #fafafa;
        padding: 0 6px;
    }
    .messagtc  .usergoban > div{
        margin-right: 5px;
    }
    .messagtc  .mui-icon {
        color: #000
    }

    .messagtc  .mui-icon:active {
        color: #007AFF!important
    }

    .messagtc  .mui-icon-paperplane:before {
        content: "发送"
    }

    .messagtc  .mui-icon-paperplane {
        font-size: 16px;
        word-break: keep-all;
        line-height: 100%;
        padding-top: 6px;
        color: rgba(0,135,250,1)
    }
    .messagtc .taptalk {
        text-align: center;
    }

    .messagtc .taptalk span{
        background: #F5F5F5;
        display: block;
        color: #767676;
        border:1px solid #CFCFCF;
        border-radius: 4px;
        height: 100%;
        line-height: 34px;
    }
    .messagtc .taptalk.talkmodule span{
        background: #E2E2E2;
        color: #7F7F7F;
    }
    .messagtc .speakframe{
        background: rgba(0, 0, 0, 0.48);
        border-radius: 10px;
        padding: 20px 20px;
        position: fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: white;
    }
    .messagtc .speakframe li{
        height: 0;
        border-top: 11px solid white;
        border-right: 4px solid transparent;
        padding-bottom: 6px;
        
        opacity: 0

    }
    .messagtc .textin {
        width: 100%;
    }
    .messagtc .textareafield{
        border-bottom: 1px solid #d8d8d8;
        outline: none;
        min-height: 30px;
        padding-top: 8px;
        margin-top: 7px;
        -webkit-user-modify: read-write-plaintext-only;
    }

    .yinboan {
        animation:yinbo .5s; 
        animation-fill-mode : forwards;
    }

    .messagtc .speakframe .icon-maikefeng{
        color: white;
        font-size: 90px !important;
    }
    .messagtc .speakframe  .speakanimate{
           width: 60px;
        
    }

    .messagtc .speakframe li:nth-child(1){
        width: 100%;
        animation-delay:3s;
    }
    .messagtc .speakframe li:nth-child(2){
        width: 87.5%;
        animation-delay:2.5s;
    }
    .messagtc .speakframe li:nth-child(3){
        width: 75%;
        animation-delay:2s;
    }
    .messagtc .speakframe li:nth-child(4){
        width: 62.5%;
        animation-delay:1.5s;
    }
    .messagtc .speakframe li:nth-child(5){
        width: 50%;
        animation-delay:1s;
    }
    .messagtc .speakframe li:nth-child(6){
        width: 37.5%;
    }
    .messagtc .speakframe li:nth-child(7){
        width: 25%;
    }
    .messagtc .speakframe li:nth-child(8){
        width: 12.5%;
        margin-bottom: 0px;
    }

    .messagtc .speakframe  h4{
        text-align: center;
        margin-top: 10px;
            font-size: 14px;
    padding: 10px 0;
    }
    .messagtc .speakframe  h4.talkcancelname{
        background: rgba(144, 46, 44, 0.83);
    }
     .messagtc .speakframe .talkdef {
        width: 150px;
        position: relative;
    }
    .messagtc .speakframe  .talkcancelbox{
        width: 100%;
    }
    .messagtc .speakframe  .talkcancelbox .icon-fanhui{
        color: white;
        font-size: 94px!important;
    }


    @keyframes yinbo
    {
        0%   {
           opacity: 1
        }
        50%{
            opacity: 0
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes myfirst
    {
        0%   {background:red;}
        25%  {background:yellow;}
        50%  {background:blue;}
        100% {background:green;}
    }