.nav ul{
	height: 40px;
	
}
.nav ul li{
	    text-align: center;
    position: relative;
    height: 100%;
    line-height: 40px;
}
.nav ul li a{
	position: relative;
}
.nav ul li a .mint-badge{
	position: absolute;
	    top: -11px;
    right: -19px;
        line-height: normal;
}
.nav ul li.table-cur:before{
	content: "";
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background:#f44336;
}
.page-loadmore{
	background:white;
	font-size: 14px;
}

.pm-item-cont{
	background: #F3F3F3;
	padding: 5px 10px;
	padding-right: 0px;
}
.pm-item-cont .my-imgersandname{
	width: 60px;
}
.pm-item-cont .my-imgersandname img{
	width: 100%;
	display: block;
}
.pm-item-cont .my-imgersandname .my-name{
	width: 100%;
	overflow: hidden;
text-overflow: ellipsis;
display: block;
white-space: nowrap;
}
.pm-item-foot{
	border-top:1px solid #bababa;
}
.my-message-info{
	    position: relative;
    padding-left: 17px;

}
.my-message-info .ms-content{
	    background: #B2E866;
    border: 1px solid #73C215;
    border-radius: 10px;
    padding: 8px 10px;
    overflow: hidden;
	
}
.my-message-info .ms-content span{
	overflow: hidden;
	word-wrap:break-word; 
	white-space:normal; 
	word-break:break-all;
}
.my-message-info .ms-sj{
	width: 0px;
	height: 0px;
	border:7px solid transparent;
	border-right: 10px solid #75C318;
	position: absolute;
	top:50%;
	margin-top: -7px;
	left: 0px;
}
.my-message-info .ms-sj:before{
	    content: "";
    display: block;
    width: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 10px solid #B2E866;
    position: absolute;
    top: -7px;
    left: -6px;
}
.pm-item-foot{
	background: #d2d5dc;
	padding: 5px 5px;
	color: black;
}
.pm-item-foot > span{
	word-wrap:break-word; 
white-space:normal; 
word-break:break-all;
overflow: hidden;
}
.pm-item-foot .vorder-btn{
	color: #f2f2e6;
	border:1px solid black;
	color: black;
}


.page-js{
	    font-size: 12px;
    background: #ffffff;
    padding: 10px;
    padding-bottom: 0px;
}
.page-js p{
	margin-bottom: 5px;
    padding-left: 8px;
    border-left: 3px solid #dadada;
}
.page-js p:last-child{
	margin-bottom: 0px;
}
.jiantou .icon-right{
	font-size: 30px;
}


.msg-room-list {
	border-bottom: 1px solid #F2F2F2;
	position: relative;
}
.msg-room-list .msg-rl-warp{
	padding: 10px 15px;
}
.msg-room-list .msg-room-img{
	width: 50px;
	height: 50px;
	flex:0 0 60px;
}
.msg-room-list .msg-room-article{
	flex:1;
}
.msg-room-list .msg-room-article section{
	color: #bfbfbf;
}
.msg-room-list .msg-room-date{
	flex:0 0 60px;
	font-size: 12px;
	color: #bfbfbf;
	text-align: right;
}
.msg-room-list .msg-room-img img{
	display: block;
	width: 50px;
	height: 50px;
}

.msg-room-list .unread_msg{
    background: red;
    position: absolute;
    top: 0px;
    left: 60px;
    color: white;
    border-radius: 20px;
    padding: 0px 3px;
    font-size: 12px;
}